@model IEnumerable<TicketsWorkshop.Data.Entities.Ticket>

@{
    ViewData["Title"] = "Index";
}

 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Tickete</h3>
                    <p>
                        <a asp-action="CheckTicket" class="btn btn-outline-primary">Validar ticket</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}